<div class="alert  alert-info" style="width:26%; margin-left:38%">
	<div class = "container">
	<h3>
		New movie
	</h3>
	<%= render 'form' %>
	<%= link_to 'Home', movies_path , class: "btn btn-default"%>
	</div>
</div>